<app-header>
  <p levels>cars</p>
  <div content>
    <p>List of cars in service</p>
  </div>
</app-header>
<div class="container">

  <div class="row">

    <div class="col-sm-12">

      <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="app-table table table-striped">
        <thead>
        <tr>
          <th>
            Car
          </th>
          <th>
            Plate
          </th>
          <th>
            Delivery date
          </th>
          <th>
            Deadline
          </th>
          <th>
            Client
          </th>
          <th>
            Cost
          </th>
          <th>
            Action
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars; let i = index">
          <td [ngClass]="{'row-error': car.isFullyDamaged}">{{car?.model}}</td>
          <td>{{car?.plate}}</td>
          <td>{{car?.deliveryDate}}</td>
          <td>{{car?.deadline}}</td>
          <td>{{car?.clientFirstName}} {{car?.clientSurname}}</td>
          <td>{{car?.cost}}</td>
          <td>ACTION PLACEHOLDER</td>
        </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>
            Currently no cars in service
          </p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <button (click)="showGross()" class="btn btn-primary btn-sm float-right" >
        SHOW GROSS
      </button>

    </div>
  </div>
  <app-totalcost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></app-totalcost>
  <div class="row" *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">TOTAL GROSS COST: {{grossCost}} PLN</p>
      </div>
    </div>
  </div>
</div>
